

1. Kunde
	- Login
	- Registrierung
	- Reservieren/Buchen
	- Standorte eingeben
	- Wagen Übersicht
	- Preis Abrufen
	- Kontakt zu Admin


2. Admin
	- Kontakt zum Kunden
	- Websockets zur Aktualisierung der Wagen, währed der Surfzeit des Kunden

3. Server
	- Verfügbarkeit
	- Redundanzfreiheit
	- Daten aktualisieren (Ajax)