
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #A67845;
}
.navbar-inverse {
    background-color: #DD4746;
    border-color: #A64848;
}
.navbar {
    border-radius: 0px;
    border: 0px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #eee;
}

.dateauswahl{
	margin-top: 5px;
}
.timeauswahl{
	margin-top: 5px;
}
.dropdown{
	margin-top: 5px;
}
#btn-anfrage{
	margin-top: 5px;
}
main{
	margin-left: auto;
	margin-right: auto;
	background-color: #CCFFFF;
}
footer{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.car-list{
	margin-top: 5px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #A64848;
}
.container{
	padding-left: 240px;
}
