@(buchungen: List[model.Buchung], email : String)
@main("Buchungsuebersicht") {

<div class="row">
	<div class="col-md-1 col-md-offset-8">	
		<a href="/logout"><button type="button" class="btn btn-danger">LOGOUT</button></a> 		
	</div>
</div>
<div class="row">
<div class="col-md-4 col-md-offset-3">
	<h2>Buchungsübersicht</h2>	
</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
	@if(buchungen.isEmpty()){
	<h4>Keine Bestellungen</h4>
	<h4>Für @email</h4>
	}else{
		<h4>Für @email</h4>
		@for(b <- buchungen) {
		<div class="row">
		<div class="col-md-5">
		<div class="buchungsliste">
			<p>
			<strong>Buchungsnummer:</strong> @b.getBuchungsId()<br>
			<strong>Fahrzeug:</strong> @b.getFahrzeug()<br>
			<strong>Abholstation:</strong> @b.getAbholStation()<br>
			<strong>Abholdatum:</strong> @b.getAbholdatum()<br>
			<strong>Abholzeit:</strong> @b.getAbholzeit() Uhr<br>
			<strong>Rückgabestation:</strong> @b.getRueckgabeStation()<br>
			<strong>Rückgabedatum:</strong> @b.getRueckgabedatum()<br>
			<strong>Rückgabezeit:</strong> @b.getRueckgabezeit() Uhr<br>
			<strong>Gesamtpreis:</strong> @b.getPreis() Euro
			</p>
		</div>
		</div>
		<div class="col-md-4">
		<img class="img-responsive img-rounded" src=@b.getBildpfad() alt=@b.getFahrzeug()>
		</div>
		</div>
		</br>
		}}
	</div>
</div>
}
