@(eingeloggt : Int)
@main("Fuhrpark") {

<div class="row">
	<div class="col-md-1 col-md-offset-8">
		@if(eingeloggt == 0){ 
		<a href="/login"><button type="button" class="btn btn-danger">LOGIN</button></a> 
		} 
		@if(eingeloggt == 1){ 
		<a href="/logout"><button type="button" class="btn btn-danger">LOGOUT</button></a> 
		}
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Unser Fahrzeugpark</h1>
	</div>

	<!--<div id="ajax" class="col-md-6 col-md-offset-3">
		<button id="button" onclick="dynamischesLaden()" type="button" class="btn btn-danger">Fahrzeuge Laden...</button>
	</div> -->
	<div id="container" class="col-md-6 col-md-offset-3"></div>
	<div id="end" class="col-md-6 col-md-offset-3"></div>
</div>

}