@main("Startseite | Mieten") {

	<script>	function pickdate (){
					$('.dateauswahl').pickadate();	
				}
				function picktime (){
					$('.timeauswahl').pickatime();
				}
	</script>

	<div class="row">
		<div class="col-md-5 col-md-offset-3">
			<h1>Verfügbarkeit prüfen</h1>
		</div>
	</div>	

	 <div class="row">
	 	<div id="boxMieten">
            <div class="col-md-3 col-md-offset-3">
            	
               		<h3>Abholung</h3>
               			<div class="dropdown">
  							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    							Abholort
    							<span class="caret"></span>
  							</button>
 							 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Singen</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Konstanz</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Stuttgart</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">München</a></li>
  							</ul>
						</div>

						<div>
							<input class="dateauswahl" type="text" placeholder="Datum" onclick="pickdate()" name="datum" size="29">
						</div>

						<div>
							<input class="timeauswahl" type="text" placeholder="Uhrzeit" onclick="picktime()" name="time" size="12" >
						</div>





			</div>
			<div class="col-md-2 ">
				<h3>Rückgabe</h3>
						<div class="dropdown">
  							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    							Rückgabeort
    							<span class="caret"></span>
  							</button>
 							 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Singen</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Konstanz</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Stuttgart</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">München</a></li>
  							</ul>
						</div>
						<div>
							<input class="dateauswahl" type="text" placeholder="Datum" onclick="pickdate()" name="datum" size="29">
						</div>
						<div>
							<input class="timeauswahl" type="text" placeholder="Uhrzeit" onclick="picktime()" name="time" size="12">
						</div>
						
			 	</div>
			 	
			
		</div>

				
	</div>
	<div class="row">	
		<div class="col-md-1 col-md-offset-3">
			 <button id="btn-anfrage" type="button" class="btn btn-danger">Anfrage starten</button>
		</div>
	</div>

}
