@main("Startseite | Mieten") {


	<div class="row">
		<div class="col-md-5 col-md-offset-3">
			<h1>Verfügbarkeit prüfen</h1>
		</div>
	</div>	

	 <div class="row">
	 	<div id="boxMieten">
            <div class="col-md-3 col-md-offset-3">
            	
               		<h3>Abholung</h3>
	               		<div>
	               			<select class="selectpicker" data-width="auto">
							<option>Konstanz</option>
							<option>Singen</option>
							<option>Radolfzell</option>
							</select>
						</div>

						<div>
							<input class="dateauswahl" type="text" placeholder="Datum" onclick="pickdate()" name="datum" size="29">
						</div>

						<div>
							<input class="timeauswahl" type="text" placeholder="Uhrzeit" onclick="picktime()" name="time" size="12" >
						</div>





			</div>
			<div class="col-md-2 ">
				<h3>Rückgabe</h3>
						<div>
	               			<select class="selectpicker" data-width="auto">
							<option>Konstanz</option>
							<option>Singen</option>
							<option>Radolfzell</option>
							</select>
						</div>
						<div>
							<input class="dateauswahl" type="text" placeholder="Datum" onclick="pickdate()" name="datum" size="29">
						</div>
						<div>
							<input class="timeauswahl" type="text" placeholder="Uhrzeit" onclick="picktime()" name="time" size="12">
						</div>
						
			 	</div>
			 	
			
		</div>

				
	</div>
	<div class="row">	
		<div class="col-md-1 col-md-offset-3">
			 <button id="btn-anfrage" type="button" class="btn btn-danger">Anfrage starten</button>
		</div>
	</div>

}
