@(eingeloggt : Int) @main("Kontakt") {

<div class="row">
	<div class="col-md-1 col-md-offset-8">
		@if(eingeloggt == 0){ 
		<a href="/login"><button type="button" class="btn btn-danger">LOGIN</button></a> 
		} 
		@if(eingeloggt == 1){ 
		<a href="/logout"><button type="button" class="btn btn-danger">LOGOUT</button></a> 
		}
	</div>
</div>
	
	<div class="row">
		<div class="col-md-4 col-md-offset-3">
			<h1>Kontakt</h1>
				<div><p>Sie haben Fragen, Wünsche, Anregungen oder Probleme, die Sie mit uns besprechen möchten?</p>
						<p>Wir stehen Ihnen rund um die Uhr für Fragen gern zur Verfügung!</p> 
				</div><br>
			<form action="mailto:viktorwich@@googlemail.com" enctype="text/plain" method="post" name="formular" onSubmit="return checkKontakt(this)">
				<p><input type="text" placeholder="Name.." name="name" size="30" required></p>
				<p><input type="email" placeholder="Email.." name="email" size="30" required></p>
				<textarea name="nachricht" placeholder="Ihre Nachricht an uns.." rows="5" cols="40" required></textarea><br>
				<p>Dringlichkeit:</p>
				<p><input type="radio" name="Dringlichkeit" value="Hoch">Hoch
				<input type="radio" name="Dringlichkeit" value="Normal">Normal</p>
				<p><button type="reset">Eintragungen löschen</button></p>
				<button id="btn-anfrage" type="submit" class="btn btn-danger" value="senden">Senden...</button>
			</form>
			
		</div>
	</div>



}
