@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/default.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/default.date.css")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/default.time.css")">
		
		
	
		
    </head>
    <body>
	<header>
	<!-- Logo -->
	 <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="/"><img class="img-responsive img-rounded" src="@routes.Assets.at("images/logo.jpg")" alt="Logo"></a>
            </div>
	</div>
		<!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                    <li class="@("active".when(title == "Startseite | Mieten"))">
                        <a href="@routes.Application.index()">Mieten</a>
                    </li>
                    <li class="@("active".when(title == "Fuhrpark"))">
						<a href="@routes.Application.fahrzeuguebersicht()">Fuhrpark</a>
                    </li>
                    <li class="@("active".when(title == "Ueber Uns"))">
                        <a href="@routes.Application.ueberUns()">ÜberUns</a>
                    </li>
                </ul> 
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	</header>
	<main>
		@content
	</main>
	<footer class="footer">
	
	<div class="row">
            <div class="col-md-2 col-md-offset-3">
               
				<p><a href="@routes.Application.agb()">AGB</a> | <a href="@routes.Application.kontakt()">Kontakt</a> | <a href="@routes.Application.impressum()">Impressum</a></p>
			
            </div>
	</div>
	
	</footer>  
	<script src="@routes.Assets.at("javascripts/jquery-1.11.1.js")"></script>
	<script src="@routes.Assets.at("javascripts/picker.js")"></script>
	<script src="@routes.Assets.at("javascripts/picker.date.js")"></script>
	<script src="@routes.Assets.at("javascripts/picker.time.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/de_DE.js")"></script>

    </body>
</html>
